@import "./config";
@import "./variables";
@import "./base";

header {
  margin-top: 32px;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo i {
  font-size: 28px;
}

.header__nav {
  margin-top: 64px;
  //display: hidden;
  height: 0;
  opacity: 0;
  //transition: opacity 0.5s linear;
  transition: all 0.2s;
}

.header__nav.visible {
  display: block;
  transition: all 0.5s;
  opacity: 1;
  height: 144px;
}

.header__list {
  text-align: center;
}

.header__item {
  margin-bottom: 3rem;
}

.header__item a span {
  @include text-website;
  font-size: 2.8rem;
}

.header__contact {
  display: inline-block;
  padding: 17px 25px;
  background-color: #6c56ca;
  border-radius: $radius;
  @include text-website;
  color: #fff;
  margin-top: 40px;
  box-shadow: 5px 24px 48px 0px rgba(108, 86, 202, 0.24);
}

.about__paragraph--title {
  @include title-website;
  margin-bottom: 17px;
}

.about__paragraph--text {
  @include text-website;
  color: $title-color;
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.about__paragraph--scroll {
  @include text-website;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.about__paragraph--scroll i {
  color: #000;
  font-size: 1.4rem;
  padding: 0.0125px 7px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 17px;
}

.about__paragraph--icons {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.about__paragraph--icons a i {
  font-size: 3.5rem;
  padding: 1px;
  border: 1px solid #000;
  color: #000;
}

.about__container {
  margin-top: 50px;
  width: 100%;
}

.about__container img {
  width: 65%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.work__paragraph--title {
  @include title-website;
  margin-bottom: 20px;
}

.work__paragraph--subtext {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: $title-color;
}

.work__paragraph--text {
  @include text-website;
  color: $title-color;
  margin: 50px 0 25px;
}

.work__paragraph--scroll {
  @include text-website;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.work__paragraph--scroll i {
  color: #000;
  font-size: 1.4rem;
  padding: 0.0125px 7px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 17px;
}

.work__container {
  margin-top: 50px;
  width: 100%;
}

.work__container img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.portfolio__title {
  @include title-website;
}

.portfolio__container {
  width: 100%;
}

.portfolio__container div img {
  width: 100%;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact {
  position: relative;
  background-image: url("../assets/form-background.svg");
  background-size: cover;
  background-position: center;
  background-position-y: 9rem;
  padding: 90px 0;
}

.contact .container {
  max-width: 748px;
}

.contact__title {
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 5.6rem;
  color: $title-color;
}

.contact__title span {
  font-weight: 700;
}

.contact__text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 2px;
  color: #7d92ee;
  margin: 8px 0 71px;
}

.contact form {
  position: relative;
}

.contact form textarea {
  background-color: #f8f8f8;
  color: $text-color;
  padding: 16px;
  width: 255px;
  width: 90%;
  max-width: 748px;
  border-radius: $radius;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;

  &::placeholder {
    font-family: "Poppins", sans-serif;
  }
}

.contact form div {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.contact form div input {
  width: 70%;
  background: #f8f8f8;
  border: 0;
  border-radius: 10px;
  color: $text-color;
  padding: 17px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #000;
  border-right: none;

  &::placeholder {
    font-family: "Poppins", sans-serif;
  }
}

.contact form div button {
  background: #d47dee;
  border: 0;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
  padding: 13px 10%;
  border: 1px solid #000;
  border-left: none;
}

footer {
  height: 60px;
}

footer h3 {
  @include text-website;
  color: #000;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@import "./media-queries/tablet";
@import "./media-queries/pc-screen.scss";
